{% extends 'base.html.twig' %}

{% block title %}JobOffer index{% endblock %}

{% block body %}
    <h1>JobOffer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job_offer in job_offers %}
            <tr>
                <td>{{ job_offer.id }}</td>
                <td>{{ job_offer.title }}</td>
                <td>{{ job_offer.description }}</td>
                <td>{{ job_offer.createdAt ? job_offer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_job_offer_show', {'id': job_offer.id}) }}">show</a>
                    <a href="{{ path('app_job_offer_edit', {'id': job_offer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_job_offer_new') }}">Create new</a>
{% endblock %}
