{% extends 'base.html.twig' %}

{% block title %}JobOffer{% endblock %}

{% block body %}
    <h1>JobOffer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ job_offer.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ job_offer.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ job_offer.description }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ job_offer.createdAt ? job_offer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>
                 {% for tag in job_offer.tags %}
                    <li>{{ tag.name|e }}</li>
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_job_offer_index') }}">back to list</a>

    <a href="{{ path('app_job_offer_edit', {'id': job_offer.id}) }}">edit</a>

    {{ include('job_offer/_delete_form.html.twig') }}
{% endblock %}
